@using DNPAssigment1.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding
<h3>Add pet</h3>

<form>
    <div class="form-group">
        <label>Choose Specie: </label>
        <InputSelect @bind-Value="pet.Species">
            @foreach (var specie in Enum.GetValues(typeof(PetSpecies)))
            { 
                <option value="@specie">@specie</option>
            }
        </InputSelect>

    </div>
    <div class="form-group">
        <label>Name: </label>
        <input class="input-group-text" @bind-value="Name">
    </div>
    <div class="form-group">
        <label>Age: </label>
        <input class="input-group-text" @bind-value="Age">
    </div>
    <button class="btn btn-primary">Save pet</button>
</form>

@code{

    Pet pet = new Pet();
    public string Name { get; set; }

    public int Age { get; set; }

}