@page "/add"
@using DNPAssigment1.Components

@inject NavigationManager NavigationManager;
<h3>Select what would you like to add:</h3>
<select class="form-control selectpicker" @onchange="@AddSelection">
    <option value="AddFAMILY">Add FAMILY</option>
    <option value="AddADULT">Add ADULT</option>
    <option value="AddCHILD">Add CHILD</option>
    <option value="AddPET">Add PET</option>
</select>
@switch (selectedAdd)
{
    case "AddFAMILY":
    {
        <FamilyForm/>
        break;
    }
    case "AddADULT":
    {
        <AdultForm/>
        break;
    }
    case "AddCHILD":
    {
        <ChildForm/>
        break;
    }
    case "AddPET":
    {
        <PetForm/>
        break;
    }
}


@code {
    private string selectedAdd = "AddFAMILY";

    private void AddSelection(ChangeEventArgs e)
    {
        selectedAdd = e.Value.ToString();
        Console.WriteLine(selectedAdd);
        Console.WriteLine(selectedAdd);
        Console.WriteLine(selectedAdd);
        Console.WriteLine(selectedAdd);
        Console.WriteLine(selectedAdd);
        Console.WriteLine(selectedAdd);
    }

}