@page "/add"
@using DNPAssigment1.Shared
<h3>Add</h3>
<button class="btn btn-primary" @onclick="openAddAdult">Add adult</button>
<button class="btn btn-primary" @onclick="openAddChild">Add child</button>
<button class="btn btn-primary" @onclick="openAddPet">Add pet</button>

<PetForm/>



@code {

    public void openAddAdult()
    {
        
    }

    public void openAddChild()
    {
        
    }

    public void openAddPet()
    {
        
    }

}